<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-menu-toggle>
            <ion-button [hidden]="!logado" [routerLink]="['/login']">Login</ion-button>
            <ion-button [hidden]="!logado" [routerLink]="['/register']">Registrar</ion-button>
            <ion-button [hidden]="logado" [routerLink]="['/profile']">Perfil</ion-button>
            <ion-button [hidden]="logado" (click)="sair()">Sair</ion-button>
          </ion-menu-toggle>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-menu-toggle>
              <ion-button [hidden]="logado" [routerLink]="['/event']" expand="block">Criar evento</ion-button>
          </ion-menu-toggle>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>