<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ event.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-img [src]="event.foto"></ion-img>
    </ion-item>

    <ion-item [hidden]="boliano">
      <ion-label *ngIf="verdade">Editar Evento</ion-label>
      <ion-label *ngIf="!verdade">Cancelar edição</ion-label>
      <ion-toggle checked="{{verdade}}" (ionChange)="onChanged($event)"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Foto:</ion-label>
      <ion-input [(ngModel)]="event.foto" disabled="{{verdade}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input [(ngModel)]="event.nome" disabled="{{verdade}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categorias:</ion-label>
      <ion-input [(ngModel)]="event.categorias" disabled="{{verdade}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data:</ion-label>
      <ion-input [(ngModel)]="event.data" disabled="{{verdade}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição:</ion-label>
      <ion-input [(ngModel)]="event.descricao" disabled="{{verdade}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Preço:</ion-label>
      <ion-input [(ngModel)]="event.preco" disabled="{{verdade}}"></ion-input>
    </ion-item>


  </ion-list>
  <ion-button [hidden]="!boliano" (click)="buyEvent(event.uid)" expand="block">Comprar Ingresso</ion-button>

  <div [hidden]="boliano">
    <ion-button *ngIf="!verdade" (click)="editEvent()" expand="block">Editar</ion-button>
    <ion-button *ngIf="!verdade" (click)="deleteEvent()" color="danger" expand="block">Excluir Evento</ion-button>
  </div>

</ion-content>