<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label position="floating">Foto:</ion-label>
  <ion-input placeholder="{{ profile.foto }}" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Nome:</ion-label>
  <ion-input placeholder="{{ profile.nome }}" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Sobrenome:</ion-label>
  <ion-input placeholder="{{ profile.sobrenome }}" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">E-mail:</ion-label>
  <ion-input placeholder="{{ profile.email }}" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Celular:</ion-label>
  <ion-input placeholder="{{ profile.cel }}" ></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Cartão de Crédito:</ion-label>
  <ion-input placeholder="{{ profile.cartao }}" ></ion-input>
</ion-item>

<ion-button (click)="editUser()">Editar</ion-button>
</ion-content>
