<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>

    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->

 <div *ngFor="let n of names">
  <div *ngFor="let c of color">
  <ion-chip [color]="c" (click)="clicou()">
    <ion-label>{{ n }}</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
</div>
  </div>


    <ion-chip outline="" color="primary" class="ion-color-primary" checked>
      <ion-icon name="pin"></ion-icon>
      <ion-label>Madison</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip outline="" color="secondary" class="ion-color ion-color-secondary ios chip-outline ion-activatable hydrated">
      <ion-icon name="wine" role="img" class="ios hydrated" aria-label="wine"></ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">Nightlife</ion-label>
      <ion-icon name="close-circle" role="img" class="ios hydrated" aria-label="close circle"></ion-icon>
    </ion-chip>
    <ion-chip outline="" color="tertiary" class="ion-color ion-color-tertiary ios chip-outline ion-activatable hydrated">
      <ion-icon name="restaurant" role="img" class="ios hydrated" aria-label="restaurant"></ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">Dining</ion-label>
      <ion-icon name="close-circle" role="img" class="ios hydrated" aria-label="close circle"></ion-icon>
    </ion-chip>
    <ion-chip outline="" color="dark" class="ion-color ion-color-dark ios chip-outline ion-activatable hydrated">
      <ion-icon name="videocam" role="img" class="ios hydrated" aria-label="videocam"></ion-icon>
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">Entertainment</ion-label>
      <ion-icon name="close-circle" role="img" class="ios hydrated" aria-label="close circle"></ion-icon>
    </ion-chip>


</ion-content>