<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Personalizar Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>

  <div class="foto">
    <img src="assets/nouser.png" />
    <ion-button class="foto" shape="round" expand="block">Alterar imagem</ion-button>
    <ion-button class="foto" shape="round" expand="block" color="danger">Remover imagem</ion-button>
  </div>

  <div class="dados">
    <ion-item>
      <ion-label position="floating">Usuário:</ion-label>
      <ion-input type="text" placeholder="Digite o nome de Usuário"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bio:</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nascimento:</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone:</ion-label>
      <ion-input type="number" placeholder="Digite o seu número de telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" placeholder="Digite o seu endereço de email"></ion-input>
    </ion-item>
  </div>
  <div class="bsenha">
    <ion-button expand="block">Alterar Senha</ion-button>
  </div>
</ion-content>